modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_EMAILJS_SERVICE_ID = "service_g7yoe9v"
VITE_EMAILJS_TEMPLATE_ID = "template_md50qou"
VITE_EMAILJS_PUBLIC_KEY = "Iqe0fZJVHfZ8Bl3B7"
